In [1]:
def say_hello():
    print("Hello World")

In [2]:
say_hello()

Hello World

In [3]:
def say_something(something):
    print(something)

In [5]:
say_something("Hi")

Hi

In [6]:
jane_says = "Hi, my name is Jane. I'm learning Pyhon!"
say_something(jane_says)

Hi, my name is Jane. I'm learning Pyhon!

In [7]:
#List Grades
my_grades = ['B', 'C', 'B', 'D']

In [10]:
import pandas as pd

my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
my_grades.map({'B' : 'A', 'C': 'B', 'D' : 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [12]:
#Format function useage
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [17]:
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object

In [ ]:
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [ ]:
passing_math_count = 29370
total_student_count = 39170

passing_math_percent(passing_math_count, total_student_count)